<section class="content-header">
  <h1>Profile</h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-6">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">Meus Dados</h3>
        </div>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <div class="box-body">
            <%= devise_error_messages! %>
            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <%= f.email_field :email, autofocus: true, class: 'form-control' %>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Nome</label>
              <%= f.text_field :first_name, class: 'form-control' %>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Sobrenome</label>
              <%= f.text_field :last_name, class: 'form-control' %>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Senha</label>
              <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Confirmação de Senha</label>
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Senha Atual</label>
              <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
            </div>
          </div>

          <div class="box-footer">
            <%= f.submit "Salvar", class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>

      <div class="box box-danger">
        <div class="box-header">
          <h3 class="box-title">Cancelar Conta</h3>
        </div>
        <div class="box-body">
          <p class="text-red">Uma vez apagada, você nao conseguirá recupera-la. Por favor, tenha certeza.</p>
          <%= button_to "Deletar", registration_path(resource_name),
                        data: { confirm: "Você tem certeza?" },
                        method: :delete, class: 'btn btn-danger' %>
        </div>
      </div>
    </div>
  </div>
</section>
