<section class="content-header">
  <h1>Profile</h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-6">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">Meus Dados</h3>
        </div>
        <%= simple_form_for resource, as: resource_name,
                                      url: registration_path(resource_name),
                                      html: { method: :put },
                                      wrapper: :vertical_form do |f| %>
          <div class="box-body">
            <%= devise_error_messages! %>

            <%= f.input :email %>
            <%= f.input :first_name %>
            <%= f.input :last_name %>
            <%= f.input :hours_per_day %>
            <%= f.input :password %>
            <%= f.input :password_confirmation %>
            <%= f.input :current_password %>
          </div>

          <div class="box-footer">
            <%= f.submit "Salvar", class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>

      <div class="box box-danger">
        <div class="box-header">
          <h3 class="box-title">Cancelar Conta</h3>
        </div>
        <div class="box-body">
          <p class="text-red">Uma vez apagada, você não conseguirá recuperá-la. Por favor, tenha certeza.</p>
          <%= button_to "Deletar", registration_path(resource_name),
                        data: { confirm: "Você tem certeza?" },
                        method: :delete, class: 'btn btn-danger' %>
        </div>
      </div>
    </div>
  </div>
</section>
