<div class="form-box" id="login-box">
  <div class="header">Mudar a senha</div>

  <%= simple_form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, wrapper: :vertical_form do |f| %>
    <div class="body bg-gray">
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>
      <%= f.input :password, placeholder: 'Senha', label: false %>
      <%= f.input :password_confirmation, placeholder: 'Confirmação de Senha', label: false %>
    </div>
    <div class="footer">
      <%= f.submit "Salvar", class: 'btn bg-olive btn-block' %>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>

