<div class="form-box" id="login-box">
  <div class="header">Esqueceu a senha?</div>

  <%= simple_form_for resource, as: resource_name, url: password_path(resource_name), wrapper: :vertical_form do |f| %>
    <div class="body bg-gray">
      <%= devise_error_messages! %>
      <%= f.input :email, placeholder: 'Email', label: false %>
    </div>
    <div class="footer">
      <%= f.submit "Enviar", class: 'btn bg-olive btn-block' %>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
