<div class="form-box" id="login-box">
  <div class="header">Login</div>

  <%= simple_form_for resource, as: resource_name, url: session_path(resource_name), wrapper: :vertical_form do |f| %>
    <div class="body bg-gray">

      <%= devise_alert_messages! %>
      <%= flash[:notice] %>

      <%= f.input :email, placeholder: 'Email', label: false %>

      <%= f.input :password, placeholder: 'Senha', label: false %>
    </div>
    <div class="footer">
      <%= f.submit "Entrar", class: 'btn bg-olive btn-block' %>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
