    <!-- Header -->
    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Click</h1>
                        <h3>Controle suas horas de trabalho!</h3>
                        <hr class="intro-divider">
                        <h4>Saiba se está com saldo positivo ou negativo com facilidade</h4>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Pra que serve?</h2>
                    <p class="lead">A função principal do <i>click</i> é controlar os horários de serviço considerando a carga horaria especificada por você, o valor padrão é 8 horas.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <%= image_tag 'ipad.png', class: 'img-responsive' %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Como isso pode me ajudar?</h2>
                    <p class="lead">Informando as entradas e saídas diariamente, o sistema vai calculado e informando seu saldo em horas (Positivo ou negativo).<br> Dessa maneira, você sabe se precisar fazer uma 'horinha extra'.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <%= image_tag 'monitor.png', class: 'img-responsive' %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Desktop, tablets, smartphones...</h2>
                    <p class="lead">Pensando em sua comodidade, o site é projetado para suportar diferentes tamanhos de tela.<br> Não perca mais tempo!</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                  <%= image_tag 'phones.png', class: 'img-responsive' %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Comece a usar!</h2>


                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                          <%= link_to user_session_path, class: 'btn btn-default btn-lg' do %>
                            <i class="fa fa-sign-in"></i> <span class="network-name">Entrar</span>
                          <% end %>
                        </li>
                        <li>
                          <%= link_to new_user_registration_path, class: 'btn btn-default btn-lg' do %>
                            <i class="fa fa-user"></i> <span class="network-name">Registrar</span>
                          <% end %>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->
