<section class="content-header">
  <h1>Reporte de horas</h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-6">
      <div class="box box-danger">
        <div class="box-header">
          <h3 class="box-title">Apontamento</h3>
        </div>

        <%= simple_form_for @report, wrapper: :vertical_form do |f| %>
          <div class="box-body content">

            <%= message(@report.errors.messages[:base] || '') %>

            <div class="row col-xs-12">
            <%= f.input :first_entry , wrapper_html: { class: 'col-xs-3 bootstrap-timepicker' },
                                       input_html: { class: 'timepicker' } %>

            <%= f.input :first_exit , wrapper_html: { class: 'col-xs-3 bootstrap-timepicker' },
                                       input_html: { class: 'timepicker' } %>

            <%= f.input :second_entry , wrapper_html: { class: 'col-xs-3 bootstrap-timepicker' },
                                       input_html: { class: 'timepicker' } %>

            <%= f.input :second_exit , wrapper_html: { class: 'col-xs-3 bootstrap-timepicker' },
                                       input_html: { class: 'timepicker' } %>
            </div>
            <%= f.input :remote , wrapper_html: { class: 'col-xs-5 bootstrap-timepicker' },
                                  input_html: { class: 'timepicker' } %>

            <%= f.input :notice, wrapper_html: { class: 'col-xs-10'} %>

            <%= f.input :day, wrapper_html: { class: 'col-xs-5'},
                              input_html: { class: 'datepicker', autocomplete: 'off', value: @report.day.try(:strftime, "%d/%m/%Y")  },
                              as: :string %>

            <%= f.input :away, collection: { 'Sim' => true, 'Não' => false},
                               include_blank: false,
                               wrapper_html: { class: 'col-xs-5'} %>

          </div>
          <div class="box-footer">
            <%= f.button :submit, 'Salvar', class: 'btn-primary', data: { disable: true } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
