<div class="box-body table-responsive">
  <div class="dataTables_wrapper form-inline" role="grid">
    <table class="table table-bordered table-hover dataTable">
      <thead>
        <tr>
          <th>Dia</th>
          <th>Primeira Entrada</th>
          <th>Primeira Saída</th>
          <th>Segunda Entrada</th>
          <th>Segunda Saída</th>
          <th>Remoto</th>
          <th>Total</th>
          <th>Saldo</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @reports.each do |r|%>
        <tr popover <%= pop_over_notice(r.notice) %> >
          <td><%= r.day.strftime('%d/%m/%Y') %></td>
          <td><%= r.first_entry %></td>
          <td><%= r.first_exit %></td>
          <td><%= r.second_entry %></td>
          <td><%= second_exit(r) %></td>
          <td><%= r.remote %></td>
          <td><%= hour_minute(r.worked) %></td>
          <td><%= sign(r.balance) %></td>
          <td>
            <%= link_to edit_report_path(r), title: 'Editar' do %>
              <i class="fa fa-edit"></i>
            <% end %>
            <%= link_to report_path(r), title: 'Excluir',
                                        data: { confirm: "Você tem certeza?" },
                                        method: :delete do %>
              <i class="fa fa-trash-o"></i>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="box-footer clearfix">
   <%= paginate @reports %>
</div>
