<section class="content-header">
  <h1>
    Reporte de horas - Saldo Total
    <span <%= popover('Saldo a partir do último fechamento.') %> >
      <%= render partial: 'layouts/report_balance', locals: { balance: current_user.total_balance } %>
    </span>
  </h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title"
              <%= popover("Saldo entre #{@from.strftime('%d/%m/%Y')} e #{@to.strftime('%d/%m/%Y')}. Independente de quadro fechado.")%> >
            Listagem
            <%= render partial: 'layouts/report_balance',
                       locals: { balance: current_user.balance_in_range(@from, @to)} %>
          </h3>
          <%= render 'search_form' %>
        </div>
        <%= render 'list' %>
      </div>
    </div>
  </div>
</section>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "reports/index.js" %>
<% end %>
