<section class="content-header">
  <h1>Reporte de horas</h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Listagem</h3>
        </div>
        <div class="box-body table-responsive">
          <div class="dataTables_wrapper form-inline" role="grid">
            <table class="table table-bordered table-hover dataTable">
              <thead>
                  <tr>
                    <th>Primeira Entrada</th>
                    <th>Primeira Saída</th>
                    <th>Segunda Entrada</th>
                    <th>Segunda Saída</th>
                    <th>Remoto</th>
                    <th>Ações</th>
                  </tr>
              </thead>
              <tbody>
                <% @reports.each do |r|%>
                <tr>
                  <td><%= r.first_entry %></td>
                  <td><%= r.first_exit %></td>
                  <td><%= r.second_entry %></td>
                  <td><%= r.second_exit %></td>
                  <td><%= r.remote %></td>
                  <td>
                    <%= link_to edit_report_path(r) do %>
                      <i class="fa fa-edit"></i>
                    <% end %>
                    <%= link_to report_path(r), data: { confirm: "Você tem certeza?" },
                                                 method: :delete do %>
                      <i class="fa fa-trash-o"></i>
                    <% end %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
