<!DOCTYPE html>
<html>
<head>
  <title>Click</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="skin-blue">

<%= render 'layouts/header' %>

  <div class="wrapper row-offcanvas row-offcanvas-left">

    <%= render 'layouts/menu' %>
    <aside class="right-side">
      <%= yield %>
    </aside>
  </div>
</body>
</html>
