<!DOCTYPE html>
<html>
<head>
  <title>Click - <%= current_user.first_name %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= render 'layouts/google_analytics' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body class="skin-blue">

<%= render 'layouts/header' %>

  <div class="wrapper row-offcanvas row-offcanvas-left">

    <%= render 'layouts/menu' %>
    <aside class="right-side">
      <div style="padding: 60px 20px; background: #f9f2f4; color: #c7254e; text-align: center;">
        <p>
          <i class="fa fa-exclamation-triangle"></i>
          Esse sistema será desligado no dia 28/02/2016 devido a falta de tempo e dinheiro para manutenção. O código desse site é aberto e pode ser encontrado em <a href="https://github.com/brunozrk/click" target="_blank">https://github.com/brunozrk/click</a>. Agradeço pela compreensão.
        </p>
      </div>
      <%= render 'layouts/messages' %>
      <%= yield %>
    </aside>
  </div>
<%= javascript_include_tag 'application' %>
<%= yield :javascript_includes %>
</body>
</html>
