<!DOCTYPE html>
<html>
<head>
  <title>Click - <%= current_user.first_name %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body class="skin-blue">

<%= render 'layouts/header' %>

  <div class="wrapper row-offcanvas row-offcanvas-left">

    <%= render 'layouts/menu' %>
    <aside class="right-side">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </aside>
  </div>
<%= javascript_include_tag 'application' %>
<%= yield :javascript_includes %>
</body>
</html>
